@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;  
  background: rgb(69, 152, 152);
  color: rgb(250, 248, 248);
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;  
  background: rgb(69, 152, 152);
  color: rgb(225, 222, 222);
}


a {
  text-decoration: none;
  font-family: "Advent Pro", sans-serif;
  color: black; }
  a:hover {
    color: #ab7c05; }


li {
  font-family: "Advent Pro", sans-serif;
  text-align: center;
  color: black;
  font-size: large;
  font-weight: bolder; }

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.nav__wrapper {
  background: teal;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav__brand {
  font-size: 30px;
  font-weight: 700;
  color: #ddd;
  text-decoration: none;
}

.nav__brand:hover {
  background-color:rgb(6, 181, 181);
  transition: 0.5s;
  color: #ddd;
  border-radius: 5px; 
  gap: 3rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 3rem;
}

.nav__link {
  font-family: "Roboto", sans-serif;
  color: #ddd;
  text-decoration: none;
  padding: 1em;
  margin: auto;
}

.nav__link:hover {
  background-color:rgb(6, 181, 181);
  color: rgb(252, 250, 250);
  transition: 0.5s;
  border-radius: 5px; 
}

.fondo {
  height: 90vh;
  background: url(./img/fondo.png) no-repeat center center fixed;
  background-size: cover;
}
